<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kridacreations.tictactoe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicTacToe">
        <activity android:name="com.kridacreations.tictactoe.krida_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kridacreations.tictactoe.GameActivityBot"
            android:parentActivityName="com.kridacreations.tictactoe.PlayerEntryBot"></activity>
        <activity
            android:name="com.kridacreations.tictactoe.PlayerEntryBot"
            android:parentActivityName="com.kridacreations.tictactoe.HomeActivity" />
        <activity
            android:name="com.kridacreations.tictactoe.RulesActivity"
            android:label="Rules"
            android:parentActivityName="com.kridacreations.tictactoe.HomeActivity" />
        <activity
            android:name="com.kridacreations.tictactoe.PlayerEntryNoBot"
            android:label="Players Entry"
            android:parentActivityName="com.kridacreations.tictactoe.HomeActivity" />
        <activity android:name="com.kridacreations.tictactoe.HomeActivity">

        </activity>
        <activity
            android:name="com.kridacreations.tictactoe.GameActivityNoBot"
            android:label="Game"
            android:parentActivityName="com.kridacreations.tictactoe.PlayerEntryNoBot" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>